/* 1 task Нерабочие margin? */
.block {
  height: 150px;

  border: 1px solid #ccc;
  background: #eee;
}

.spacer {
  margin-left: 20%;
  margin-right: 20%;

  height: 80%;
  margin-top: 1%;

  border: 1px solid black;
  background: #fff;
}

/* 2 task Расположить текст внутри INPUT */
input {
  margin: 0;
  width: 12em;
}

#placeholder {
  color: red;
  margin: -1.3em 0 0 0.2em;
}
